/* Clase para ocultar elementos */
.hidden {
  display: none; /* Oculta el elemento */
}

/* Clase para mostrar elementos */
.visible {
  display: block; /* Muestra el elemento */
}

/* .blocked {
    filter: grayscale(100%) brightness(50%);
  } */

/* Estilos para elementos dentro de una clase 'blocked' */
.blocked .card-body {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
  color: #fff; /* Texto en color blanco */
}

.blocked .card-title {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
  color: #fff; /* Texto en color blanco */
}

.blocked img {
  filter: grayscale(100%) brightness(50%); /* Imagen en escala de grises con 50% de brillo */
}
