/* Estilos para la clase .navbar */
.navbar {
  padding-left: 290px; /* Añade un padding de 290px en el lado izquierdo */
}

/* Estilos para la clase .titulo */
.titulo {
  font-weight: bolder; /* Establece un peso de fuente más grueso */
  color: black; /* Color del texto en negro */
  font-size: 30px; /* Tamaño de fuente de 30px */
}
