.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 500px;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-img{
    width: 50px;
    height: 50px;
}
.card-title{
    display: flex;
    text-align: center;
    padding-bottom: 30px;
    flex-direction: row;
    justify-content: center;
    
}